html {
	background-color: rgb(71,71,71); 
}
h1 {
	position: relative;
	font: 'Lucida Grande', Tahoma, sans-serif;	
	font-size: 38px;
	left: 25px;
	color: rgba(0,0,0,0.6);
}
span.inputField {
	position: relative;
	left: 25px;
}
span.inputField span {
	position: absolute;
    display: block;
    top: -3px;
    right: 15px;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    background: url('../images/icons/clearButton-18x18.png');
    cursor: pointer;
    box-shadow:
      inset 0px 0px 10px rgba(0,0,0,0.8), 
            0px 0px 10px rgba(0,0,0,0.8);
    display: none;
}
span.inputField input {
	font: 'Lucida Grande', Tahoma, sans-serif;
	border: 1px solid rgba(0,0,0,0.7);
    border-radius: 20px; 
    box-shadow: 
      inset 0px 0px 16px  rgba(0,0,0,0.4),
            0px 0px  2px  rgba(0,0,0,0.9);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    background: rgba(200,200,200,0.7);
    font-size: 18px;
    width: 165px;
    min-width: 110px;
	cursor: inherit;
	color: rgba(0,0,0,0.2);
}
div.playlist {
	position: relative;
	top: 30px;
}
span.nextButton {
	position: relative;
	top: 10px;
	left: 25px;
	display: none;
	width: 115px;
	box-shadow: 
            10px 10px 20px  rgba(0,0,0,0.9);
}
span.reshuffleButton {
	position: relative;
	top: -15px;
	left: 160px;
	display: none;
	width: 115px;
	box-shadow: 
            10px 10px 20px  rgba(0,0,0,0.9);	
}